# Virtual environments
.venv/
venv/
env/

# Python cache
pycache/
*.pyc
*.pyo

# Data & generated folders
recordings/
audio/
meta/
index/
database/

# Environment variables
.env

# OS / Editor noise
.DS_Store
.vscode/
.idea/